.recipe-display-area {
    display: flex;
}

.recipe-picture-area {
    flex: 25%
}

.recipe-description-area {
    flex: 25%;
    padding-left: 3%;
    padding-right: 3%;
}

.recipe-count-area {
    flex: 25%;
    text-align: center;
}

.recipe-price-area {
    flex: 25%;
    text-align: center;
}

.order-picture {
    max-width: 100%;
    max-height: 100px;
}

.header-wrapper {
    display: flex;
}

.header-order-time {
    flex: 30%;
}

.header-order-id {
    flex: 60%;
}

.header-delete-icon {
    flex: 10%;
    text-align: right;
}

.comment-image {
    max-width: 100%;
    max-height: 100px;
}

.comment-recipe-name {
    font-weight: 600;
}

.subheader {
    font-size: 1.2em;
    font-weight: 600;
}

.button-align-to-right {
    text-align: right;
}